.header {
  background-color: #392350;
  padding: 2.4rem 0;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}