html {
  font-size: calc(10 * 100vw / 1440);
}

body {
  background-color: #210B36;
  color: #fff;
  margin: 0;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: calc(20 / 15);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
